body{
    background-color:whitesmoke;
}


.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
  }
  
#goBack{
	position:relative;
    top: 6em;
	bottom: 2em;
	left: 3%;
	background-color:#343a40;
	color:white;
}

/* #deleteBtn{
    color:red;
}
#updateBtn{
    color:rgb(0, 200, 0);
} */

#myTable{
    padding-top: 0.5em;
}

.dropdown-menu{
    background-color: #343a40;
}
.dropdown-item:hover{
    background-color:gray;
}
.dropdown-item{
    padding-bottom: .5em;
    padding-top: .5em;
}
#options{
    align-items: right;
}

.login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}
.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}
.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

table caption {
 caption-side:top;    
}